:root{
  --font-heading: var(--font-space);
  --font-body: var(--font-lato);
}

html{
  background: #faf9f9;
}

body{
  font-family: var(--font-body);
  background: #faf9f9;
  color: #1b1c1c;
}

h1,h2,h3,h4{
  font-family: var(--font-heading);
}

.hero-image-fade{
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 62%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 62%, rgba(0, 0, 0, 0) 100%);
}
